:root {
    --white: hsl(0, 0%, 100%);
    --lightPink: hsl(275, 100%, 97%);
    --grayishPurple: hsl(292, 16%, 49%);
    --darkPurple: hsl(292, 42%, 14%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: WorkSans;
    src: url("./fonts/WorkSans-VariableFont_wght.ttf");
    font-weight: 100 - 900;
    font-style: normal;
}

html, body {
    height: 100%;
}

.overlay {
    height: 100%;
    background-color: var(--lightPink);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.overlay__pattern {
    height: 310px;
    background-image: url("./images/background-pattern-desktop.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.faq {
    background-color: var(--white);
    padding: 2rem;
    border-radius: 1.25rem;
    width: 100%;
    max-width: 520px;
    box-shadow: 2px 4px 24px rgba(0, 0, 0, 0.1);
    margin: 0 1.5rem;
    font-family: WorkSans;
    z-index: 1;
}

.faq__header {
    display: flex;
    gap: 1.25rem;
    margin-bottom: 1rem;
}

.faq__title {
    font-size: 3rem;
    color: var(--darkPurple);
}

.faq-list li {
    list-style: none;
    border-bottom: 1px solid var(--lightPink);
}

.faq-list li:last-child {
    border-bottom: none;
}

.faq-list-header {
    margin: 1.5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-weight: 600;
    color: var(--darkPurple);
}

.faq-list-header:hover {
    color: hsl(280.92deg 82.98% 53.92%);
}

.faq-list-header::after {
    content: " ";
    display: inline-block;
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    margin-left: 1rem;
}

.faq-list-header:has(input[type="checkbox"])::after {
    background-image: url("./images/icon-plus.svg");
}

.faq-list-header:has(input[type="checkbox"]:checked)::after {
    background-image: url("./images/icon-minus.svg");
}

.faq-list-header input[type="checkbox"] {
    display: none;
}

.faq-list-content {
    overflow: hidden;
    color: hsl(292, 16%, 49%, 80%);
    font-size: .875rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
    display: none;
}

.faq-list-content.expanded {
    display: block;
}

@media screen and (max-width: 768px) {
    .overlay__pattern {
        height: 260px;
        background-image: url("./images/background-pattern-mobile.svg");
    }

    .faq {
        padding: 1.5rem;
    }

    .faq__title {
        font-size: 2rem;
    }
}